<!DOCTYPE html>
<html lang="en" style="background-image: url('/static/background/web-body.jpg');background-repeat: no-repeat;background-size:cover;background-position: center;
height:100%;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Document
        {% block title %}
        {% endblock%}
    </title>
</head>
<body>
    <nav class="navbar">
        <a class="maina" font-size="60px" href="{% url 'books:book_overview' %}">Bookshelf</a>
        <a class="maina"  font-size="60px" href="{% url 'books:activity' %}">Activity</a>
        {% if user.is_authenticated %}
        <a class="maina" font-size="60px" href="{% url 'logout' %}">LogOut</a>
        {% else %}
        <a class="maina" font-size="60px" href="{% url 'accounts:login' %}">Login</a>
        {% endif%}
        <a class="maina" font-size="60px" href=""></a>
        <p>Welcome,{{user.username}}</p>
        <form class="maina" action="{% url 'books:search_book' %}" method="get">
            {% csrf_token %}
            <input style="height:30px;width:400px;border-radius:30px;font-size:20px;border-width:2px;border-color: white;margin-top:-5px; " type="text" placeholder="Search Book" name="q" aria-label="Search" value="{{ request.GET.q }}">
            <button style="height:30px;border-radius:20px;font-size:20px;border-width:1px;border-color: black;margin-top:-5px; " type="submit">Search</button>
        </form>
    </nav>
    <div>
        {% block page_content %}
        {% endblock %}
    </div>
</body>
</html>
